body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.conteiner {
    max-width: 1110px;
    margin: auto;
}

.header {
    background: url("../Images/Header/background.png");
    padding-top: 30px;
    padding-bottom: 130px;
    height: 591px;
    margin-bottom: 100px;
}

.header-top {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    align-items: baseline;
}

.header-logo {}

.header-logo__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #333333;
}

.header-nav {}

.mark-list {
    display: flex;
    padding: 0%;
    list-style: none;
}

.mark-list__item {
    margin-right: 28px;
}

.mark-list__item:last-child {
    margin-right: 0px;
}

.mark-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #333333;
}

.mark-list__link:hover {
    color: #00BF78;
}

.header-phone {
    text-align: right;
}

.header-phone__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    text-decoration: none;
    color: #333333;
}

.header-phone__info {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {}

.header-content__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 17px;
    color: #333333;
}

.header-content__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 59px;
    color: #333333;
}

.header-content__btn {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #FB9475;
    padding: 17px 30px;
    width: 203px;
    height: 48px;
    border-radius: 24px;
    text-decoration: none;
}

.header-body__img {}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-left: 63px;
}

.header-img__link {}

.header-img__vk {}

.header-img__insta {}

.header-img__youtube {}

.main {}

.about {
    height: 387.31px;
    margin-bottom: 99.69px;
    position: relative;
}

.about__banner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.button {
    text-align: center;
    position: absolute;
    right: 127.57px;
    bottom: 101.46px;
    width: 185.84px;
    height: 92.42px;
}

.button__video-link {}

.button__img {
    margin-bottom: 6.03px;
}

.button__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.about-description {
    max-width: 569.54px;
}

.about-description__h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
    margin-bottom: 32.09px;
}

.about-description__text1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 16.04px;
}

.about-description__text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}

.advantage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    margin-bottom: 100px;
}

.cabinet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 176px;
}

.cabinet__img {
    margin-bottom: 28px;
}

.cabinet__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 12px;
}

.cabinet__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    text-align: center;
    width: 296px;
}

.cosmetic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 176px;
}

.cosmetic__img {
    margin-bottom: 28px;
}

.cosmetic__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 12px;
}

.cosmetic__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    text-align: center;
    width: 296px;
}

.masters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 176px;
}

.masters__img {
    margin-bottom: 28px;
}

.masters__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 12px;
}

.masters__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    text-align: center;
    width: 296px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.footer-logo {}

.footer-logo__logo {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    margin-bottom: 8px;
}

.footer-logo__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #278AFF;
}

.footer-nav {}

.footer-mark-list {
    display: flex;
    padding: 0%;
    list-style: none;
}

.footer-mark-list__item:not(:last-child) {
    margin-right: 28px;
}

.footer-mark-list__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    text-decoration: none;
}

.footer-mark-list__link:hover {
    color: #00BF78;
}