body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #333333;
}

.header {
    background: url("../Images/Header/background.png");
    margin-bottom: 100px;
    overflow: hidden;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.header .container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 130px;
}

.header__top {
    display: flex;
    margin-bottom: 118px;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    align-items: baseline;
    position: relative;
    z-index: 1;
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #333333;
}

.navigation__markList {
    display: flex;
    padding: 0%;
    list-style: none;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.navigation__link--font {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.navigation__link:hover {
    color: #00BF78;
}

.header__phone {
    text-align: right;
}

.header__phoneLink {
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    text-decoration: none;
    color: #333333;
}

.header__phoneInfo {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

.header__inner {
    max-width: 535px;
    position: relative;
    z-index: 1;
}

.header__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 17px;
}

.header__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 59px;
    color: #333333;
}

.btn {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #FB9475;
    padding: 17px 30px;
    width: 203px;
    height: 48px;
    border-radius: 24px;
    text-decoration: none;
}

.header__imgGirl {
    position: absolute;
    bottom: 0;
    right: 93px;
    z-index: 0;
}

.header__imgGirl img {
    display: block;
    position: relative;
}

.header__imgGirl:before {
    content: '';
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
    position: absolute;
    bottom: -110px;
    right: 3px;
}

.socialNetwork {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 226px;
    right: 0;
}

.socialNetwork--vertical {
    flex-direction: column;
}

.socialNetwork__link {
    display: flex;
    align-items: center;
}
/*************END HEADER************/
.section {
}

.section__header {
}

.section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin: 0 0 32px;
}

.section__inner {

}

/*************section about************/
.section__description {
    position: relative;
    margin-bottom: 127px;
}

.section__text1 {
    max-width: 569px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 16px;
}
.section__text2 {
    max-width: 569px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

.section__advantage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    margin-bottom: 100px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 176px;
}

.infoBlock__img {
    margin-bottom: 28px;
}

.infoBlock__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}

.infoBlock__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 296px;
}

.section__video {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section__video img {
    display: block;
    position: relative;
}

.section__btn {
    position: absolute;
    right: 127px;
    bottom: 101px;
}

.section__videoLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.section__videoLink img{
    margin: 0 auto;
}
/*************END section about************/

/*************footer************/
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.footer__logo div {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    margin-bottom: 8px;
}

.footer__logo a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #278AFF;
}