@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: local("Montserrat"),
        url("../Font/AnyConv.com__Montserrat-Light.woff2") format("woff2"),
        url("../Font/AnyConv.com__Montserrat-Light.woff") format("woff"),
        url("../Font/AnyConv.com__Montserrat-Light.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: local("Montserrat"),
        url("../Font/AnyConv.com__Montserrat-Regular.woff2") format("woff2"),
        url("../Font/AnyConv.com__Montserrat-Regular.woff") format("woff"),
        url("../Font/AnyConv.com__Montserrat-Regular.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: local("Montserrat"),
        url("../Font/AnyConv.com__Montserrat-Medium.woff2") format("woff2"),
        url("../Font/AnyConv.com__Montserrat-Medium.woff") format("woff"),
        url("../Font/AnyConv.com__Montserrat-Medium.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: local("Montserrat"),
        url("../Font/AnyConv.com__Montserrat-SemiBold.woff2") format("woff2"),
        url("../Font/AnyConv.com__Montserrat-SemiBold.woff") format("woff"),
        url("../Font/AnyConv.com__Montserrat-SemiBold.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: local("Montserrat"),
        url("../Font/AnyConv.com__Montserrat-Bold.woff2") format("woff2"),
        url("../Font/AnyConv.com__Montserrat-Bold.woff") format("woff"),
        url("../Font/AnyConv.com__Montserrat-Bold.eot") format("eot");
    font-display: swap;
}