@import 'libs';
@import 'common';

.wrapper {
    position: relative;
    min-height: 100%;
}

.header {
    margin-bottom: 100px;
    overflow: hidden;
    background: url("../Images/Header/background.png");
}

.container {
    max-width: 1110px;
    margin: auto;
}

.header .container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 130px;
}

.header__top {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 118px;
    justify-content: space-between;
    align-items: baseline;
}

.header__logo {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #333333;
}

.navigation {
    max-width: 495px;
}

.navigation__markList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px 28px;
    padding: 0%;
    list-style: none;
}

.navigation__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.navigation__link--font {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.navigation__link:hover {
    color: #00BF78;
}

.header__phone {
    text-align: right;
}

.header__phoneLink {
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    text-decoration: none;
    color: #333333;
}

.header__phoneInfo {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

.header__inner {
    position: relative;
    z-index: 1;
    max-width: 535px;
}

.header__title {
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

.header__text {
    margin-bottom: 59px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    width: 112px;
    height: 34px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #FB9475;
    border-radius: 17px;
    text-decoration: none;
}

.header__btn {
    width: 203px;
    height: 48px;
    padding: 17px 30px;
    font-size: 14px;
    border-radius: 24px;
}

.header__imgGirl {
    position: absolute;
    bottom: 0;
    right: 93px;
    z-index: 0;
}

.header__imgGirl img {
    display: block;
    position: relative;
    max-width: 524px;
    height: auto;
}

.header__imgGirl:before {
    content: '';
    position: absolute;
    bottom: -110px;
    right: 3px;
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
}

.header__social {
    position: absolute;
    bottom: 226px;
    right: 0;
}

.socialNetwork {
    display: flex;
    gap: 16px;
}

.socialNetwork--vertical {
    flex-direction: column;
}

.socialNetwork__link {
    display: flex;
    align-items: center;
}

.socialNetwork__vk {
    max-width: 32px;
    height: auto;
}

.socialNetwork__insta {
    max-width: 32px;
    height: auto;
}

.socialNetwork__youtube {
    max-width: 32px;
    height: auto;
}
/*************END HEADER************/
.section {
}

.section__header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 24px;
}

.section__title {
    margin: 0 0 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.section__inner {
    margin-bottom: 100px;
}

/*************section about************/
.section__description {
    position: relative;
    margin-bottom: 127px;
}

.section__text1 {
    max-width: 569px;
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.section__text2 {
    max-width: 569px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.section__advantage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 350px;
    height: 176px;
}

.infoBlock__img {
    margin-bottom: 28px;
}

.infoBlock__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.infoBlock__description {
    width: 296px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.section__video {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section__banner {
    display: block;
    position: relative;
    max-width: 445px;
    height: auto;
    border-radius: 8px;
}

.section__btn {
    position: absolute;
    max-width: 185px;
    max-height: 92px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.section__videoLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.section__videoLink img{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 60px;
    height: auto;
}
/*************END section about************/

/*************section services************/
.section__services {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 30px;
}

.services {
    max-width: 350px;
}

.services img {
 margin-bottom: 20px;
}

.services h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px;
   }

.services p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 16px;
   }
/*************END section services************/

/*************section price************/
.section__navigation {
    max-width: 794px;
    margin-bottom: 47px;
}

.section__hair-cutting {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 0;
    justify-content: space-between;
}

.servicesPrice {
    display: flex;
    max-width: 444px;
    justify-content: space-between;
    flex: 50%;
}

.servicesPrice__services h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px;
}

.servicesPrice__services p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.servicesPrice__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #00BF78;
}
/*************END section price************/

/*************section masters************/
.section__master {
    padding: 80px 0;
    background-color: #F8F6F7;
    margin-bottom: 100px;
}

.section__master .section__inner{
    margin: 0;
}

.section__aboutMasters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.masters img{
    margin-bottom: 20px;
}

.masters h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px;
}

.masters__specialization {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px;
}

.masters__experience {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}
/*************END section masters************/


/*************footer************/
.footer {
    position : absolute;
    width: 100%;
    height : 78px;
	left: 0;
	bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    margin-right: 15px;
}

.footer__logo div {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.footer__logo a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #278AFF;
}
/*************END footer************/

@import 'media';