@import 'libs';
@import 'fonts';
@import 'common';

/*************ОБЩЕЕ************/
.wrapper {
    position: relative;
    min-height: 100%;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.section {
    &__header p {
        margin: 0 0 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &__title {
        margin: 0 0 32px;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__inner {
        margin-bottom: 100px;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #FB9475;
    border-radius: 17px;
    text-decoration: none;
    text-align: center;
}

.navigation {
    display: block;
    max-width: 495px;

    &__markList {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 28px;
        padding: 0%;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #333333;

        &--font {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }

        &:hover {
            color: #00BF78;
        }
    }
}

.socialNetwork {
    display: inline-flex;
    gap: 16px;

    &--vertical {
        flex-direction: column;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__vk {
        max-width: 32px;
        height: auto;
    }

    &__insta {
        max-width: 32px;
        height: auto;
    }

    &__youtube {
        max-width: 32px;
        height: auto;
    }
}

.hamburger {
    display: none;
    position: absolute;
    z-index: 2;

    &__menuToggle {
        display: block;
        position: relative;
        top: 0;
        left: 15px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        a {
            text-decoration: none;
            color: #333333;
            transition: color 0.3s ease;

            &:hover {
                color: #00BF78;
            }
        }

        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
        }

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #333333;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
        }

        span:first-child {
            transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #333333;
        }

        input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        input:checked~ul {
            transform: none;
        }
    }


    &__menu {
        position: absolute;
        width: 150px;
        margin: -100px 0 0 -50px;
        padding: 110px 20px 20px 50px;
        background: #cdcdcd;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        li {
            padding: 0 0 5px 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }

}

/*************section HEADER************/
.header {
    margin-bottom: 100px;
    overflow: hidden;
    background: url("../Images/Header/background.png");

    .container {
        position: relative;
        padding-top: 30px;
        padding-bottom: 130px;
    }

    &__top {
        display: flex;
        position: relative;
        z-index: 1;
        margin-bottom: 118px;
        justify-content: space-between;
        align-items: baseline;
    }

    &__logo {
        display: inline-block;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
        color: #333333;
    }

    &__phone {
        text-align: right;
    }

    &__phoneLink {
        font-weight: 500;
        font-size: 18px;
        line-height: 14px;
        text-decoration: none;
        color: #333333;
    }

    &__phoneInfo {
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
    }

    &__inner {
        position: relative;
        z-index: 1;
        max-width: 535px;
    }

    &__title {
        margin-bottom: 17px;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
    }

    &__text {
        margin-bottom: 59px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
    }

    &__btn {
        width: 203px;
        height: 48px;
        padding: 17px 30px;
        font-size: 14px;
        border-radius: 24px;
    }

    &__imgGirl {
        position: absolute;
        bottom: 0;
        right: 93px;
        z-index: 0;

        img {
            display: block;
            position: relative;
            max-width: 524px;
            height: auto;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -110px;
            right: 3px;
            width: 472px;
            height: 472px;
            border-radius: 50%;
            background-color: #FB9475;
        }
    }

    &__social {
        position: absolute;
        bottom: 226px;
        right: 0;
    }
}

/*************END section HEADER************/

/*************section about************/
.section__description {
    position: relative;
    margin-bottom: 127px;
}

.section__text1 {
    max-width: 569px;
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.section__text2 {
    max-width: 569px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.section__advantage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 30px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    max-width: 350px;

    &__img {
        max-width: 48px;
        margin-bottom: 28px;
    }

    &__title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__description {
        max-width: 296px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
}

.section__video {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
        display: block;
        position: relative;
        max-width: 445px;
        height: auto;
        border-radius: 8px;
    }
}

.section__btn {
    position: absolute;
    max-width: 185px;
    max-height: 92px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.section__videoLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

    img {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 60px;
        height: auto;
    }
}

/*************END section about************/

/*************section services************/
.section__services {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 30px;
}

.services {
    max-width: 350px;

    img {
        margin-bottom: 20px;
        max-width: 350px;
    }

    h4 {
        margin: 0 0 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    p {
        margin: 0 0 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
}

/*************END section services************/

/*************section price************/
.section__navigationPrice {
    max-width: 794px;
    margin-bottom: 47px;
    a:hover {
        cursor: pointer;
    }
}


.section__hair-cutting {
    display: none;
    flex-wrap: wrap;
    gap: 32px 10px;
    justify-content: space-between;
}

.section__cosmetology {
    display: none;
    flex-wrap: wrap;
    gap: 32px 10px;
    justify-content: space-between;
}

.section__manicure {
    display: none;
    flex-wrap: wrap;
    gap: 32px 10px;
    justify-content: space-between;
}

.section__makeup {
    display: none;
    flex-wrap: wrap;
    gap: 32px 10px;
    justify-content: space-between;
}

.section__eyebrows {
    display: none;
    flex-wrap: wrap;
    gap: 32px 10px;
    justify-content: space-between;
}

.section__massage {
    display: none;
    flex-wrap: wrap;
    gap: 32px 10px;
    justify-content: space-between;
}

.servicesPrice {
    display: flex;
    min-width: 444px;
    justify-content: space-between;

    &__services {
        h5 {
            margin: 0 0 8px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        p {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #00BF78;
    }
}

/*************END section price************/

/*************section masters************/
.section__masters {
    margin-bottom: 100px;
    padding: 80px 0;
    background-color: #F8F6F7;

    .section__inner {
        margin: 0;
    }
}

.section__aboutMasters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    justify-content: center;
}

.masters {
    max-width: 255px;

    &__link {
        position: relative;

        img {
            transition: 0.5s;
        }

        &:hover img {
            filter: brightness(50%);
        }

        &:hover .masters__hint {
            display: block;
        }
    }

    &__hint {
        display: none;
        position: absolute;
        right: 50%;
        bottom: 120px;
        transform: translate(50%);
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    }

    h5 {
        margin: 0 0 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__specialization {
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    &__experience {
        margin: 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }
}

/*************END section masters************/

/*************section work************/
.work__header {
    position: relative;
}

.work__title {
    margin-bottom: 52px;
}

.section__carouselBtn {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;

    a:not(:last-child) {
        margin-right: 16px;
    }

    .carouselBtn {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #F8F6F7;
        border-radius: 50%;

        img {
            display: block;
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
        }
    }
}

.section__brands {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0 0 40px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .section__fotoBrands {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        opacity: 0.35;
        gap: 10px 30px;

        img {
            flex-shrink: 0;
        }
    }
}

/*************END section work************/

/*************section contacts************/
.section__contacts {
    position: relative;
    padding: 78px 0 133px 0;
    background-color: #F8F6F7;

    .section__inner {
        margin: 0;
    }
}

.section__ollContacts {

    .section__addr {
        margin: 0 0 20px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .section__phoneLink {
        display: block;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
    }

    .section__mailLink {
        display: block;
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .section__social {
        margin: 0 0 12px 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}

.section__form {
    display: none;
}

.form {
    position: absolute;
    right: 18%;
    bottom: 50%;
    transform: translate(0, 50%);
    max-width: 375px;
    max-height: 326px;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 8px;

    &__title {
        margin: 0 0 15px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 14px;
    }

    &__titleText1 {
        margin: 0 0 35px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 16px;

        input {
            display: block;
            height: 44px;
            border: 1px solid #D8D8D8;
            border-radius: 4px;
            box-sizing: border-box;
        }

        &__field::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #A0A0A0;
        }
    }

    &__titleText2 {
        margin: 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }

    &__Btn {
        padding: 17px 30px;
        border-radius: 24px;
    }

}

/*************END section contacts************/


/*************footer************/
.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 15px;

        div {
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #333333;
        }

        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #278AFF;
        }
    }
}

/*************END footer************/
/*************импорт файлов************/
@import 'slick_stile';
@import 'media';